@import 'tailwindcss';
@import './typography.css';

@theme {
  /* 메인 컬러 */
  --color-primary: #27cfa5;

  /* 서브 포인트 컬러 */
  --color-blue: #0096ff;
  --color-red: #ff0000;

  /* 그레이 스케일 */
  --color-gray1: #ffffff;
  --color-gray2: #fafafa;
  --color-gray3: #f2f2f2;
  --color-gray4: #e8e8e8;
  --color-gray5: #d9d9d9;
  --color-gray6: #c4c4c4;
  --color-gray7: #a7a7a7;
  --color-gray8: #5f5f5f;
  --color-gray9: #555555;

  /* 브레이크 포인트 */
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1920px;
}

@layer base {
  body {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

@layer utilities {
  /* 커스텀 스크롤바 */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-gray4);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f8f8f8;
  }
}

/* 온보딩 스와이퍼 */
.swiper-custom-pagination .swiper-pagination-bullet {
  width: 5.3px;
  height: 5.3px;
  border-radius: 9999px;
  margin: 0 !important;
  background-color: var(--color-gray5);
}

@media (min-width: 1440px) {
  .swiper-custom-pagination .swiper-pagination-bullet {
    width: 7.5px;
    height: 7.5px;
    border-radius: 9999px;
    margin: 0 !important;
    background-color: var(--color-gray5);
  }
}

@media (min-width: 1920px) {
  .swiper-custom-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    margin: 0 !important;
    background-color: var(--color-gray5);
  }
}

.swiper-custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

/* 조항 스크롤 바 */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #e8e8e8 #fafafa;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border-radius: 9999px;
  min-height: 40px;
  border: 3px solid #e8e8e8;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ededed;
}
